imutils==0.5.4
matplotlib==3.7.1
numpy==1.23.5
opencv_python==4.7.0.72
pandas==2.0.0
Pillow==9.5.0
Pillow==10.0.0
protobuf==3.20.3
pytesseract==0.3.10
Requests==2.31.0
six==1.16.0
streamlit==1.24.1
tensorflow==2.12.0
tensorflow_intel==2.12.0
torch==2.0.1
torchvision==0.15.2
tqdm==4.65.0
transformers==4.30.2
webcolors==1.13
